// Initialize Global Variables
$background-color: #263238;
$text: #fafafa;
$formContainerBackground: #000000a8;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: 1rem;
  color: $text;
}

.nav > * {
  color: white;
}

.title {
  font-size: 32px;
  cursor: pointer;
  width: 300px;
}

.title:hover {
  text-decoration: underline;
}

.formContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: $formContainerBackground;
  z-index: 1;
  overflow: auto;
}