$lining: #3F51B5;

.date {
  color: rgba(85, 85, 85, 0.836);
}

.lining {
  height: 1px;
  background-color: $lining;
  margin-bottom: 1rem;
}

.linkHome {
  color: rgb(102, 102, 102);
}

.linkHome:hover {
  text-decoration: underline;
  color: black;
}